<div class="welcome">
    <%= render partial: "guest_header" %>
    <main>
        <h1 class="display-1 fw-bolder">
            <span class="text-gradient d-inline">
                <%= I18n.t 'welcome.slogan1' %>
            </span>
            <span class="text-gradient d-inline">
                <%= I18n.t 'welcome.slogan2' %>
            </span>
        </h1>

        <div class="verbs">
            <p><%= I18n.t 'welcome.snap' %> &middot; <%= I18n.t 'welcome.share' %> &middot; <%= I18n.t 'welcome.inspire' %></p>
        </div>

        <div class="action">
            <%= link_to I18n.t('login'), new_user_session_path, class: "btn btn-outline-light btn-lg"%>
            <%= link_to I18n.t('signup'), new_user_registration_path, class: "btn btn-light btn-lg"%>
        </div>
        
    </main>
</div>
