<main class="admin-photos">
    <div id="photos" class="content display">
        <div class="item">
            <%= image_tag "google.png" %>
        </div>
        <div class="item">
            <%= image_tag "facebook.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "facebook.png" %>
        </div>
        <div class="item">
            <%= image_tag "facebook.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
        <div class="item">
            <%= image_tag "twitter.png" %>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body card">
                    <%= image_tag "twitter.png", class: "card-img-top" %>
                    <div class="card-body">
                        <h5 class="card-title">X</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="action">
                            <%= link_to "Edit", edit_admin_photo_path(1), id: "edit-photo", class: "btn btn-primary" %>
                            <button id="delete-photo" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="react">
                        <i class="fa-regular fa-heart fa-xl"></i>
                        100K
                    </p>
                    <p>2 days ago</p>
                </div>
            </div>
        </div>
    </div>
</main>

<%= javascript_include_tag "admin_photos" %>