<main class="edit-profile">
    <%= form_with url: user_path, model: @user, local: true, html: { multipart: true }, id: "info-form" do |form| %>
        <h2>Edit Profile</h2>
        <p class="field">
            <%= form.label :avatar, "Avatar", class: "form-label" %>
            <%= form.file_field :avatar, accept: "image/jpeg, image/gif, image/png, image/jpg", class: "form-control" %>
            <span class="error text-danger"></span>
            <% if @user.avatar? %>
                <div id="preview">
                    <%= image_tag @user.avatar.url, alt: "Avatar Preview" %>
                </div>
            <% else %>
                <div id="preview" style="display: none">
                    <img src="#" alt="Avatar Preview"></img>
                </div>
            <% end %>
        </p>
        <p class="field">
            <%= form.label :fname, "First Name", class: "form-label" %>
            <%= form.text_field :fname, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :lname, "Last Name", class: "form-label" %>
            <%= form.text_field :lname, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :email, "Email", class: "form-label" %>
            <%= form.email_field :email, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        
        <%= form.submit "Save Info", id: "save-info", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Change Password", change_password_path(@user.id), class: "btn btn-warning" %>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="infoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Information saved!
            </div>
        </div>
    </div>

    <div class="modal fade" id="cropperModal" tabindex="-1" aria-labelledby="cropperModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cropperModalLabel">Select Avatar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="result rounded" id="input-image"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="save" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</main>

<%= javascript_include_tag "edit_profile", type: "module" %>