<main class="edit-photo">
    <%= form_with url: photo_path, model: @photo, local: true do |form| %>
        <h1>Edit photo</h1>
        <p class="field">
            <%= form.label :title, "Title", class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :mode, "Sharing mode", class: "form-label" %>
            <div id="mode" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <%= form.radio_button :mode, "public", class: "btn-check", id: "btnradio1", checked: true %>
                <%= form.label :mode, "Public", class: "btn btn-outline-primary", for: "btnradio1" %>
                
                <%= form.radio_button :mode, "private", class: "btn-check", id: "btnradio2" %>
                <%= form.label :mode, "Private", class: "btn btn-outline-primary", for: "btnradio2" %>
            </div>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :desc, "Description", class: "form-label" %>
            <%= form.text_area :desc, class: "form-control", rows: 5 %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :photo, "Photo", class: "form-label" %>
            <%= form.file_field :photo, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <%= form.submit "Save", id: "save", class: "btn btn-primary" %>
    <% end %>
</main>

<%= javascript_include_tag "edit_photo", type: "module" %>