<main class="new-photo">
    <%= form_with url: photos_path, model: @photo, local: true do |form| %>
        <h1>Add a new photo</h1>

        <p class="field">
            <%= form.label :title, "Title", class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :mode, "Sharing mode", class: "form-label" %>
            <div id="mode" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="mode" id="public" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="public">Public</label>
                
                <input type="radio" class="btn-check" name="mode" id="private" autocomplete="off">
                <label class="btn btn-outline-primary" for="private">Private</label>
            </div>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :desc, "Title", class: "form-label" %>
            <%= form.text_area :desc, rows: 5, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>

        <p class="field">
            <%= form.label :photo, "Photo", class: "form-label" %>
            <%= form.file_field :photo, class: "form-control" %>
            <img id="preview" src="#" alt="Photo Preview">
            <span class="error text-danger"></span>
        </p>

        <%= form.submit "Save", id: "save", class: "btn btn-primary" %>
    <% end %>
</main>