<main class="admin-edit-user">
  <h2>Edit User</h2>

  <%= form_with url: admin_user_path(@user.id), model: @user, local: true, id: "edit-user-form" do |f| %>
    <p class="field">
        <%= f.label :avatar, "Avatar", class: "form-label" %>
        <%= f.file_field :avatar, accept: "image/jpeg, image/gif, image/png, image/jpg", class: "form-control" %>
        <span class="error text-danger"></span>
        <div id="preview-avatar">
            <%= image_tag @user.avatar.url, alt: "Avatar Preview" %>
        </div>
    </p>
    <p class="field">
        <%= f.label :fname, "First Name", class: "form-label" %>
        <%= f.text_field :fname, class: "form-control" %>
        <span class="error text-danger"></span>
    </p>
    <p class="field">
      <%= f.label :lname, "Last Name", class: "form-label" %>
      <%= f.text_field :lname, class: "form-control" %>
      <span class="error text-danger"></span>
    </p>
    <p class="field">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      <span class="error text-danger"></span>
    </p>
    <p class="field">
      <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <span class="error text-danger"></span>
    </p>
    <p class="field">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <span class="error text-danger"></span>
    </p>
    <p class="field">
        <%= f.label :active, "Status", class: "form-label" %>
        <div id="active" class="btn-group" role="group" aria-label="Basic radio toggle button group">

            <% if !@user.active %>
                <%= f.radio_button :active, "true", class: "btn-check", autocomplete: "off", checked: false %>
                <%= f.label :active_true, "Active", class: "btn btn-outline-success" %>

                <%= f.radio_button :active, "false", class: "btn-check", autocomplete: "off", checked: true %>
                <%= f.label :active_false, "Inactive", class: "btn btn-outline-danger" %>
            <% else %>
                <%= f.radio_button :active, "true", class: "btn-check", autocomplete: "off", checked: true %>
                <%= f.label :active_true, "Active", class: "btn btn-outline-success" %>

                <%= f.radio_button :active, "false", class: "btn-check", autocomplete: "off", checked: false %>
                <%= f.label :active_false, "Inactive", class: "btn btn-outline-danger" %>
            <% end %>
        </div>
    </p>

    <div class="actions">
      <%= f.submit "Update", id: "update", class: "btn btn-primary" %>
      <%= button_to "Delete account", user_registration_path, class: "btn btn-danger" %>
    </div>

    <p class="target" style="display: none"><%= admin_users_path %></p>
  <% end %>

  <div class="modal fade" id="cropperModal" tabindex="-1" aria-labelledby="cropperModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cropperModalLabel">Select Avatar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="result rounded" id="input-image"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
  </div>
</main>

<%= javascript_include_tag "admin_edit_user", type: "module" %>