<main class="admin-users">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Last Access</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each.with_index do |user, index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= user.fname %></td>
                    <td><%= user.lname %></td>
                    <td><%= user.email %></td>
                    <td>
                        <% if user.last_sign_in_at %>
                            <%= user.last_sign_in_at %>
                        <% else %>
                            <span>No Access</span>
                        <% end %>
                    </td>
                    <td>
                        <% if user.active %>
                            <span class="badge text-bg-success">Active</span>
                        <% else %>
                            <span class="badge text-bg-danger">Inactive</span>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to "Edit", edit_admin_user_path(user.id), class: "btn btn-primary" %>
                        <button class="btn btn-danger" type="button">Delete</button>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</main>

<%= javascript_include_tag "admin_users" %>