<main class="new-album">
    <%= form_with url: path, model: album, local: true, html: { multipart: true } do |form| %>
        <h1><%= title %></h1>
        <p class="field">
            <%= form.label :title, "Title", class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :mode, "Sharing mode", class: "form-label" %>
            <div id="mode" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <% if @album.mode && @album.mode == "private" %>
                    <%= form.radio_button :mode, "public", class: "btn-check", autocomplete: "off", checked: false %>
                    <%= form.label :mode_public, "Public", class: "btn btn-outline-primary" %>

                    <%= form.radio_button :mode, "private", class: "btn-check", autocomplete: "off", checked: true %>
                    <%= form.label :mode_private, "Private", class: "btn btn-outline-primary" %>
                <% else %>
                    <%= form.radio_button :mode, "public", class: "btn-check", autocomplete: "off", checked: true %>
                    <%= form.label :mode_public, "Public", class: "btn btn-outline-primary" %>

                    <%= form.radio_button :mode, "private", class: "btn-check", autocomplete: "off", checked: false %>
                    <%= form.label :mode_private, "Private", class: "btn btn-outline-primary" %>
                <% end %>
            </div>
            <span class="error text-danger"></span>
        </p>
        <p class="field">
            <%= form.label :description, "Description", class: "form-label" %>
            <%= form.text_area :description, class: "form-control", rows: 5 %>
            <span class="error text-danger"></span>
        </p>
        <p class="field media">
            <%= form.label :media, "Photos", class: "form-label" %>

            <div id="grid">
                <%= form.fields_for :media do |media_form| %>
                    <%= media_form.label :url, "Add Photo", class: "media-item form-label btn btn-outline-primary" %>
                    <%= media_form.file_field :url, class: "media-input active", accept: "image/*" %>
                <% end %>

                <% if @album.media.count > 0 %>
                    <div class="media-urls" style="display: none">
                        <% @album.media.each do |medium| %>
                            <%= image_tag medium.url.url %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            
            <span class="error text-danger"></span>
        </p>
        <%= form.submit "Save", id: "save", class: "btn btn-primary" %>
    <% end %>
</main>

<%= javascript_include_tag "new_album", type: "module" %>