<% content_for :header do %>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#">Fotoverse Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <% if current_page?(admin_photos_path) %>
                                <a class="nav-link active" aria-current="page" href="#"><%= I18n.t('photos') %></a>
                            <% else %>
                                <%= link_to I18n.t('photos'), admin_photos_path, class: "nav-link", data: {turbo: false} %>
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <% if current_page?(admin_albums_path) %>
                                <a class="nav-link active" aria-current="page" href="#"><%= I18n.t('albums') %></a>
                            <% else %>
                                <%= link_to I18n.t('albums'), admin_albums_path, class: "nav-link", data: {turbo: false} %>
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <% if current_page?(admin_users_path) %>
                                <a class="nav-link active" aria-current="page" href="#"><%= I18n.t('users') %></a>
                            <% else %>
                                <%= link_to I18n.t('users'), admin_users_path, class: "nav-link", data: {turbo: false} %>
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-logout"><%= I18n.t('logout') %></a>
                            <%= link_to I18n.t('logout'), destroy_user_session_path, method: :delete, class: "nav-link", style: "display: none", id: "real-logout" %>
                        </li>
                    </ul>
                    <div class="lang">
                        <% if I18n.locale == :vi %>
                            <%= link_to locale: :en do %>
                                <div class="flag">
                                    <%= image_tag "vietnam.png" %>
                                </div>
                                <span>VI</span>
                            <% end %>
                        <% else %>
                            <%= link_to locale: :vi do %>
                                <div class="flag">
                                    <%= image_tag "united-kingdom.png" %>
                                </div>
                                <span>EN</span>
                            <% end %>
                        <% end %>
                    </div>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="<%= I18n.t('nav.search') %>" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><%= I18n.t('nav.search') %></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
<% end %>
<%= render template: "layouts/application" %>